@import './theme-variables.css';

.col {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid var(--gantt-border-light);
  box-sizing: border-box;
  overflow: hidden;
  /* 为没有特定样式的列设置默认宽度 */
  flex: 1 0 120px;
  min-width: 120px;
  max-width: 120px;
}

.col:last-child {
  border-right: none;
}

.col-name {
  flex: 2 0 300px;
  min-width: 300px;
  max-width: 300px;
  justify-content: flex-start;
}

.col-pre {
  flex: 1 0 120px;
  min-width: 120px;
  max-width: 120px;
}

.col-assignee {
  flex: 1 0 120px;
  min-width: 120px;
  max-width: 120px;
}

.col-date {
  flex: 1.2 0 140px;
  min-width: 140px;
  max-width: 140px;
}

.col-hours {
  flex: 1 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.col-progress {
  flex: 1 0 100px;
  min-width: 100px;
  max-width: 100px;
}

/* 基于 key 的 CSS 类名（备用） */
.col-taskName {
  flex: 2 0 300px;
  min-width: 300px;
  max-width: 300px;
  justify-content: flex-start;
}

.col-predecessor {
  flex: 1 0 120px;
  min-width: 120px;
  max-width: 120px;
}

.col-startDate,
.col-endDate {
  flex: 1.2 0 140px;
  min-width: 140px;
  max-width: 140px;
}

.col-estimatedHours,
.col-actualHours {
  flex: 1 0 100px;
  min-width: 100px;
  max-width: 100px;
}

.col:last-child {
  border-right: none;
}
